html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
  max-width: 1440px;
  margin: auto;
  background-color: #171717;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #404040;
}

body::-webkit-scrollbar-thumb {
  background-color: #171717;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-sizing {
  max-width: 1024px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .text-sizing {
    max-width: 700px !important;
  }
}

button {
  border: none !important;
  outline: none !important;
}
